<%# # shows warning message that it will create an admin along side company to manage the company # shows the form to
    create company %>


    <main>

        <div id="warnings-by-server">

        </div>

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            While creating company we create admin along side it to manage company
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <section class="vh-100" style="background-color: #2779e2;">
            <div class="container h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-9">
          
                  <h1 class="text-white mb-4">Create Company</h1>
                  <div class="card text-black" style="border-radius: 25px;">    
                    <div class="card-body p-md-5" >
                        <p class="card-text">
                            <div class="row justify-content-center">
                                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                    
              
                <form id="create-company-form">
                    <input type="text" class="form-control mb-3" name="name" placeholder="Name" required>
                    <input type="email" class="form-control mb-3" name="email" placeholder="Email" required>
                    <input type="password" class="form-control mb-3" name="password" placeholder="Password" required>
                    <input type="password" class="form-control mb-3" name="cpassword" placeholder="Confirm password"
                        required>
                    <input type="text" class="form-control mb-3" name="companyName" placeholder="Company name" required>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" placeholder="Enter the company description here"
                            id="companyDescription" name="companyDescription" required></textarea>
                        <label for="companyDescription">Company description</label>
                    </div>
                    <button type="submit" class="btn btn-primary mb-3">Create</button>
                </form>
                </div>
                </div>
                </p>
            </div>
        </div>
</div>

        <script src="/js/create_company.js"></script>
        </div>

        </div>
        </section>
        
    </main>